.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    background: #e9e9e9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20vw;
    min-width: 180px;
    border-radius: 5px;
    margin: 3vh 4vw 0 2vw;
}

.small {
    max-height: 400px;
}

.title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Georgia, serif;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    color: white;
    background: #f10000;
    width: 100%
}

.agenda {
    padding: 10px;
    width: 85%;
    border-bottom: 1px solid #940202;
}

.event {
    font-family: Georgia, serif;
    font-size: 13pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    font-size: 10pt;
    line-height: 1.5;
}

.today {
    background: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.load-text {
    margin: 10px auto -10px auto;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 10pt;
    background: none;
    border: none;
    padding: 10px;
}

.load-text:hover {
    color: #940202;
    transition: all 1s ease;
}

.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90vw;
        overflow: scroll;
        margin: 0 0 100px 0;
        box-sizing: border-box;
        background: rgba(241, 0, 0, 0.8);
        border: 1px solid #f10000;
    }

    .title {
        background: none;
    }

    .today {
        color: #940202;
    }

    .event, .content, .load-text {
        color: white;
    }

    .load-text:hover {
        color: #940202;
    }
}