.menu {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav {
    width: 250px;
    height: 50px;
}

.navlink {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    text-align: left;
    background-color: #f10000;
    box-sizing: border-box;
    background-position: center;
    transition: background 2s;
    border-bottom: 1px solid #940202;
}

.login {
    width: 252px;
    height: 50px;
    text-align: center;
    padding: 15px 20px;
    background-color: #f10000;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 12pt;
    background-position: center;
    transition: background 2s;
    box-sizing: border-box;
    border-left: 2px solid #940202;
}

li {
    font-size: 10pt;
    padding-right: 10px;
}

.login:hover,
.navlink:hover {
    background: #940202 radial-gradient(circle, transparent 1%, #940202 1%) center/15000%;
    transition: background 2s;
}

.login:active, .navlink:active {
    background-color: #e94646;
    background-size: 100%;
    transition: background 0s;

}

.menu {
    position: absolute;
    clear: both;
    max-height: 0;
    top: 50px;
    width: 200px;
    transition: max-height .2s ease-out;
}

.menu-icon {
    display: inline-block;
    float: right;
    padding: 28px 10px;
    position: relative;
    user-select: none;
}

.navicon {
    background: #940202;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    margin-right: 20px;
}

.navicon:before,
.navicon:after {
    background: #940202;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 5px;
}

.navicon:after {
    top: -5px;
}

.menu-btn {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.menu-btn:checked ~ .menu {
    border-top: 1px solid #940202;
    max-height: 300px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media screen and (max-width: 500px) {
    .login {
        width: 150px;
    }

    .menu-icon, .menu-button {
        padding-right: 40px;
    }

    .menu {
        width: 100%;
    }


}