.button {
    background-color: #f10000;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 20px 20px;
    background-position: center;
    transition: all 2s ease;
    border-bottom-left-radius: 10px;
}

.button:hover {
    background: #940202 radial-gradient(circle, transparent 1%, #940202 1%) center/15000%;
    transition: all 2s ease;
}

.button:active {
    background-color: #e94646;
    background-size: 100%;
    transition: all 0s ease;
}

.txt {
    color: white;
    padding-right: 10px;
    font-size: 10pt;
    text-align: left;
}