.footer {
    background: #262626;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 5px solid #f10000;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

.footer-icon {
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

.footer-text {
    color: #797979;
    margin: 10px auto;
    font-size: 8pt;
    padding: 10px;
}